.navbar-brand {
   padding-bottom: 75px;
}

.carousel {
	width: 100%;
	height: 100%;
	margin: 0 auto;
}

.carousel-caption {
    top: 0;
    bottom: auto;
}

body {
	background-color: #C8C8C8 
}

h1 {
   font-family: "Leckerli One",cursive;
   font-weight: bold;
   font-size: 300%;
}

.a {
	background-color: #888888;
}

.row {
  padding-bottom: 5px;
}

.b{
  padding-left:40px;
}

body {
text-align: center;
}

h1 small{
  font-size: 40%;
}